<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd">
                
	<bean id="taskConsumer" class="com.zd.mole.TaskConsumer">
		<property name="processHandlers">
			<map>
				<entry key="MohurdDataserviceQueryCompListHandler" value-ref="mohurdDataserviceQueryCompListHandler" />
				<entry key="MohurdDataserviceQueryCompCompDetailHandler" value-ref="mohurdDataserviceQueryCompCompDetailHandler" />
				<entry key="MohurdDataserviceQueryCompCaDetailListHandler" value-ref="mohurdDataserviceQueryCompCaDetailListHandler" />
				<entry key="MohurdAsiteQualaptAptDataHandler" value-ref="mohurdAsiteQualaptAptDataHandler" />
				<entry key="MohurdAsiteCreditRecordQueryHandler" value-ref="mohurdAsiteCreditRecordQueryHandler" />
				<entry key="MohurdDataserviceQueryStaffListHandler" value-ref="mohurdDataserviceQueryStaffListHandler" />
				<entry key="MohurdDataserviceQueryStaffstaffDetailHandler" value-ref="mohurdDataserviceQueryStaffstaffDetailHandler" />
				<entry key="MohurdDataserviceQueryStaffStaffPerformanceListSysHandler" value-ref="mohurdDataserviceQueryStaffStaffPerformanceListSysHandler" />
				<entry key="MohurdDataserviceQueryStaffStaffWorkRecordListHandler" value-ref="mohurdDataserviceQueryStaffStaffWorkRecordListHandler" />
			</map>
		</property>
	</bean>

</beans>